@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
  /* padding-top: 80px; */
  /* overflow-x: hidden; */
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  */
  z-index: 1000;
}

.ql-editor {
  font-size: 1.05rem;
}

.post-content {
  margin-bottom: 0.5rem;
}

.post-content h1 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-content h2 {
  font-size: 1.5rem;
  font-weight: 400;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-content h3 {
  font-size: 1.4rem;
  /* font-weight: 400; */
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-content a {
  color: rgb(73 149 199);
  text-decoration: none;
}

.post-content a:hover {
  text-decoration: underline;
}

.dark .post-content a {
  color: red;
}
